# Frontend
frontend/node_modules/
frontend/dist/
.eslintcache

# Backend (Python)
backend/venv/
backend/__pycache__/
*.pyc
.env

# Bỏ qua các file dữ liệu quá nặng (Git giới hạn file > 100MB)
# Bỏ comment (xóa dấu #) ở các dòng dưới nếu file csv/keras của bạn lớn hơn 100MB
backend/*.csv
backend/model/*.keras
backend/model/*.pkl

# IDE
.vscode/
